 nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
  .button {
    background-color: black;
    color:  rgb(169,169,169);
    padding: 14px;
    border: none;
    font-size: 16px;
    text-align:center;
}
.button:hover{ color: white;}
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.warning {
  margin: 2px 400px;
  cursor: pointer;
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    form{
    margin: 5px;
    width: 100%;
    border-radius: 15px;
    border: 0px solid rgb(35, 228, 228);
    background-color : rgba(148, 152, 155, 0.479);
}
 input[type=text] {
    width: 85%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
table.book {
    border-collapse: collapse;
    width: 100%;
}

table.book th, td {
    text-align: left;
    padding: 8px;
}
table.book tr:nth-child(even){background-color: #f2f2f2}
table.book th {
    background-color: #C70039  ;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.error {
    width:92%;
    margin:0 auto;
    padding:10px;
    border:1px solid  #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align:left;
}
p{
    text-align:center;
}
    .footer {
      background-color: #555;
      color: white;
      padding: 15px;
      width: 100%;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
    }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }